* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #1f1c2c, #928dab);
  padding: 0 10px;
  height: 100vh;
  overflow: hidden;
}

.container {
  border: 2px solid rgb(98, 0, 255);
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: burlywood;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.form {
  width: 100%;
}

.input-field {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.input-field label {
  width: 200px;
  margin-right: 10px;
  font-size: 18px;
}

.input-field input {
  width: 60%;
  outline: none;
  border: 2px solid burlywood;
  font-size: 15px;
  padding: 6px 8px;
  border-radius: 5px;
}

.input-field input:focus,
.input-field textarea:focus,
.input-field .selectbox:focus {
  border: 2px solid #8b6b3f;
}

.input-field textarea {
  width: 60%;
  outline: none;
  font-size: 15px;
  padding: 6px 8px;
  border-radius: 5px;
  border: 2px solid burlywood;
  resize: none;
}

/* .input-field textarea:focus {
  border: 2px solid rgb(255, 153, 19);
} */

.input-field .selectbox {
  position: relative;
  width: 60%;
  padding: 6px 8px;
  border-radius: 5px;
  border: 2px solid burlywood;
  outline: none;
}

/* .selectbox:focus {
  border: 2px solid rgb(255, 153, 19);
} */

.input-field-terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-field-terms p {
  font-size: 16px;
  color: #757575;
}

.input-field-terms .check {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  cursor: pointer;
  /* margin-top: 19px; */
}

button {
  width: 100%;
  padding: 10px 0;
  background-color: burlywood;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: #8b6b3f;
  transition: 0.4s ease-in;
}
